<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.adv.afgomes.androidmaps">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissão para obter a localização precisa (usando GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
        Permissão necessária para obter a localização com o app em background,
        necessária a partir da versão 10 (API 29).

        Para que o app seja aprovado na loja, se ele pedir para usar essa permissão,
        é necessário que o desenvolvedor declare uma política de privacidade para
        tal tipo de uso, dizendo como e por que a permissão é usada.
     -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMaps">

        <!-- Pegamos o manifest placeholder definido no build gradle do app -->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapApiKey}"/>

        <!-- Não sei se isso aqui tem utilidade: -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>